*{
	margin:0;
	padding:0;
}

h1, p {
	text-align: center;
}

div#tooltip {
	opacity: 0;
	position: relative;  
	display: block;
	width: 230px;
	background-color:coral;
	text-align:left;
}

svg {
	background-color: white;
}